.services {
    // .services__title
    &__title {
    }
    // .services__subtitle
    &__subtitle {
        margin-top: rem(-24);
        margin-bottom: rem(40);
        font-size: rem(24);
    }
    // .services__list
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
        gap: rem(40);

        padding: 0 rem(15);

        @media (min-width: em(1300)) {
            display: flex;
            flex-direction: column;
            gap: rem(30);
        }
    }
    // .services__item
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: em(1300)) {
            flex-direction: row;
        }
    }
}
.item-services {
    // .item-services__image
    &__image {
        margin-bottom: rem(30);
        max-height: rem(300);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (min-width: em(1300)) {
            @include adaptiveValue("margin-right", 60, 20, 1440, 991, 1);
            flex: 0 0 rem(540);
            @include adaptiveValue("flex-basis", 540, 320, 1440, 991, 1);
        }
    }
    // .item-services__header
    &__header {
        display: flex;
        align-items: center;
        gap: rem(30);

        @media (min-width: em(1300)) {
            @include adaptiveValue("margin-right", 60, 20, 1440, 991, 1);
            flex: 0 0 rem(550);
        }
    }
    // .item-services__num
    &__num {
        margin-right: rem(20);
        font-weight: 700;
        font-size: rem(36);
        color: #d8d8d8;
    }
    // .item-services__title
    &__title {
        font-size: rem(24);
        text-transform: uppercase;
    }
    // .item-services__text
    &__text {
        max-width: rem(560);
        text-align: center;

        @media (min-width: em(1300)) {
            text-align: left;
        }
    }
}
